/.github/                 export-ignore
/tests/                   export-ignore
/.gitignore               export-ignore
/.editorconfig            export-ignore
/phpunit.xml              export-ignore
/composer.lock            export-ignore
/docker/                  export-ignore
/README.md                export-ignore
/docs                     export-ignore
/bundle-dependencies.php  export-ignore
/debug-autoloader.php     export-ignore
/test-complete.php        export-ignore
/dependency-checker.php   export-ignore