/.github/                 export-ignore
/tests/                  export-ignore
/.gitignore              export-ignore
/.editorconfig           export-ignore
/phpunit.xml             export-ignore
/composer.lock           export-ignore
/docker/                 export-ignore
/README.md               export-ignore
